
@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #6366f1; /* Tailwind Indigo-500 */
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #4f46e5; /* Tailwind Indigo-600 */
}

body {
  @apply bg-no-repeat bg-cover bg-center min-h-screen;
  background-image: url("./assets/background.jpg");
  color: #ffffff;
  
}

h1 {
  font-size: 2.5rem; /* Adjust for better scaling */
  line-height: 1.2;
  font-weight: 700;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #3730a3; /* Tailwind Indigo-700 */
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}
button:hover {
  background-color: #4f46e5; /* Indigo-600 */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1f2937; /* Tailwind Gray-800 */
    background-color: #ffffff;
  }
  a:hover {
    color: #6366f1;
  }
  button {
    background-color: #6366f1; /* Indigo-500 */
    color: #ffffff;
  }
}

